<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title th:text="${title} ?: 'Library'">Library</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
  <nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/books}">Books</a>
    <span sec:authorize="isAuthenticated()">
      <a th:href="@{/user/loans}">My Loans</a>
      <a th:href="@{/logout}">Logout</a>
    </span>
    <span sec:authorize="!isAuthenticated()">
      <a th:href="@{/login}">Login</a>
      <a th:href="@{/register}">Register</a>
    </span>
    <span sec:authorize="hasRole('ADMIN')">
      <a th:href="@{/admin/books}">Admin</a>
    </span>
  </nav>
</header>
<main th:insert="~{::content}"></main>
</body>
</html>
